{# ===== mulagofoundation.org :: past-fellows-henry/index ===== #}
{% extends "_layout" %}  
  {% set title = ('Past Henry Fellows') %}
{% block content %}
  


{# {% cache %}#}

<!-- Main content -->
<div class="container">
  <div class="main-content" style="margin-top: 8em;">
  
    {% set pastFellowCat = craft.categories.group('fellowsCat').slug('henry-fellows') %}
    {% for entry in craft.entries.section('fellows').relatedTo(pastFellowCat).limit(null) %}

    {% include 'partials/_fellows-past.twig' %}

    {% endfor %}
  </div>
</div>
       
   
{# {% endcache %}#}
{% endblock %} 
