
{# ===== mulagofoundation.org :: about ===== #}

{% extends "_layout" %}
  {% set title = entry.title %}
{% block content %}

   
<!-- Main content -->

{% set blocks = entry.panels.all() %}
{% for matrixBlock in blocks %}
  {% if matrixBlock.type == 'panelHeader' %}
  


      
{# featured image + title #}         
      <div class="flex flex-col z-40">

            <div class="relative m-auto">     
              {% set images = matrixBlock.image.all() %}
              {% for image in images %}
                <img class="" src="{{ image.getUrl('view2100x610') }}" alt="{{ image.title }}">
              {% endfor %}
            <div class="absolute bottom-0 left-0">
              <h1 class="text-white leading-none opacity-50 text-10xl uppercase text-shadow font-normal xs:text-4xl sm:text-6xl md:text-8xl lg:text-9xl xl:text-10xl py-4 ml-8">
                {{ matrixBlock.heading1 }}
              </h1>
            </div>
   
        </div>

      </div>
      {% if matrixBlock.heading2 | length %}
        <div class="max-w-6xl flex m-auto pt-8 px-4">
            <h4 class="text-gray-800 font-light xs:text-2xl lg:text-4xl">
              {{ matrixBlock.heading2 }}
            </h4>
        </div>
      {% endif %}
       

{% elseif matrixBlock.type == 'copyContent' %}  

    <div class="max-w-6xl xs:mb-4 lg:mb-6 lg:mb-12 p-4 py-8 m-auto">
        <h3 class="text-gray-600 xs:text-2xl lg:text-3xl uppercase border-b border-gray-400">
          {{ matrixBlock.header3 }}
        </h3>
        <div class="text-gray-800 font-light leading-relaxed text-lg mt-2">
          {{ matrixBlock.copy |nl2br|replace

            ({
              '<ul>': '<ul class=“list-disc”>',
              '<p>': '<p class=“mb-10”>',
              '<a href': '<a class="text-gray-800 hover:text-blue-600 text-bold underline" href',
              '<h3>': '<h3 class="text-4xl mt-4">',
              '<ol>': '<ol class="list-decimal my-4 mx-12">',
              '<ul>': '<ul class="list-disc my-4 mx-12">',
              '<img': '<img class="inline-block"'
            })|raw }}
        </div>
    </div>

  {% endif %}
{% endfor %}



{# team #}
<div class="bg-gray-100">
{% set teamQuery = craft.categories.group('authorCat') %}       

{% set categories = teamQuery.all() %}
  <div class="flex flex-wrap justify-center items-start p-16" id="entries">

  {% for category in categories %}
  

      <button data-fancybox data-src="#{{ category.id }}" href="javascript:;" class=""> 
        <div class="bg-white shadow hover:border-red max-w-xs border p-4 m-4">
            {% set assetQuery = category.bioPhoto %}
            {% set images = assetQuery.all() %}
              {% for image in images %}
               <img src="{{ image.geturl('sq300x300') }}" alt="">
              {% endfor %}
              <h3 class="uppercase font-normal text-base text-center text-gray-700 py-4">
                {{ category.title }}
              </h3>
              
              <div class="border-b border-gray-400">
              </div> 
              <h3 class="min-h-4xs uppercase font-normal text-base text-center text-gray-700 px-8 py-6">
                {{ category.position }} 
              </h3>
        </div>
          {% include "partials/_teambiopop.twig" %}  
      </button> 
  {% endfor %}
  </div>
   
</div>  


{% endblock %}
