
{# ===== mulagofoundation.org :: pages/how-we-fund ===== #}

{% extends "_layout" %}
  {% set title = entry.title %}
{% block content %}
{% cache %}  

   
<!-- Main content -->
<div class="main-content">

{% for matrixBlock in entry.panelsFund %}
  {% if matrixBlock.type == 'panelContent' %}
        
    <div class="fund-panel-1 m-ochre clearfix" data-scroll-index="{{ matrixBlock.scrollTo }}">
    
      <div class="container clearfix">
        <h1 class="funding">{{ matrixBlock.heading1 }}</h1>
      {% for image in matrixBlock.image %}
        <img class="funding" src="{{ image.getUrl('h600x310') }}" alt="{{ image.title }}">
      {% endfor %}
      </div>
     
    </div>

    <div class="container fund">
        <div class="row row-home">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">

              {{ matrixBlock.copy }}

            </div>
        </div>
    </div>

  {% endif %}
{% endfor %}
{% endcache %}       
{% endblock %}
