
{# ===== mulagofoundation.org :: stuff/index ===== #}

{% extends "_layout" %}
  {% set title = ('Our Stuff') %}
{% block content %}


{% set stuffQ = craft.entries.section('stuff') %}
{% set entries = stuffQ.all() %}

{% set articles = stuffQ.type('articles').all() %}
{% set videos = stuffQ.type('videos').all() %}
{% set tools = stuffQ.type('tools').all() %}


<div class="bg-gray-100">

{# articles #}
  
  <a href="/stuff/articles/">
    <div class="text-center hover:bg-red bg-blue-700 py-4 mb-4">
      <div class="text-white uppercase tracking-wider">
          
            <h2 class="text-xl">
              Articles 
            </h2>
          
      </div>
    </div>
  </a> 

<div class="pb-4 pt-2">
  <div class="flex justify-center articles">
    {% for entry in articles %}
      <div class="m-4">
        {% include "stuff/partials/_article-block.twig" %} 
      </div>
    {% endfor %}
  </div>
</div>

{# -------------- #}


{# videos #}
<a href="/stuff/videos/">
  <div class="text-center hover:bg-red bg-blue-700 py-4 mb-4">
    <div class="text-white uppercase tracking-wider"> 
      <h2 class="text-xl">
        Videos 
      </h2>
    </div>
  </div>
</a>


<div class="pb-4 pt-2">
  <div class="videos flex justify-center">
    {% for entry in videos %}
      {% include "stuff/partials/_video-block.twig" %}
    {% endfor %}
  </div>
</div>


{# -------------- #}


{# Tools #}

<a href="/stuff/tools/">  
  <div class="text-center hover:bg-red bg-blue-700 py-4 mb-4">
    <div class="text-white uppercase tracking-wider">
        <h2 class="text-xl">
          Tools 
        </h2>
    </div>
  </div>
</a>

<div class="pb-4 pt-2">
  <div class="flex flex-wrap tools justify-center">
    {% for entry in tools %}
      <div class="m-4">
        {% include "stuff/partials/_tool-block.twig" %} 
      </div>
    {% endfor %}
  </div>
</div>


{# -------------- #}
      

</div>

{% js %}
      $(document).ready(function(){
      $('.articles').slick({
        arrows: true,
        cssEase: 'linear',
        zIndex: 0,
        responsive: [
        {
          breakpoint: 3072,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 5,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 2048,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true,
          }
        }
  ]
      });
    });
{% endjs %}

{% js %}
      $(document).ready(function(){
      $('.videos').slick({
        arrows: false,
        cssEase: 'linear',
        zIndex: 0,
        responsive: [
        {
          breakpoint: 3072,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 5,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 2048,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true,
          }
        }
  ]
      });
    });
{% endjs %}

{% js %}
      $(document).ready(function(){
      $('.tools').slick({
        arrows: false,
        cssEase: 'linear',
        zIndex: 0,
        responsive: [
        {
          breakpoint: 3072,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 5,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 2048,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true,
          }
        }
  ]
      });
    });
{% endjs %}

{% endblock %} 


