{% extends "_layout" %}
 {% set title = ('Fellows') %}
 {% block content %}

{% set url = craft.app.request.segments|last %}
{% if url == 'fellows' %}
	{% redirect '/' %} 
{% endif %}
  
<!-- Main content -->
<div class="">

  <div class="w-100 bg-blue-600 pt-32 px-12">
        <div class="">
          <h1 class="uppercase tracking-tighter text-blue-200 leading-none opacity-75 text-shadow font-light xs:text-4xl md:text-6xl lg:text-8xl">
				{{ category }}
			</h1>
		</div>
	</div>


<!-- strapline -->
    <div class="p-16 flex flex-wrap justify-center">
      	<div class="w-full">
      		<h3 class="text-left xs:text-base md:text-xl lg:text-3xl leading-relaxed italic text-gray-700 mb-8"> 
	      		{{ category.fellowsStrapline }}</em>
	        </h3>
    	</div>
        {% set entries = craft.entries()
			    .programEntry(':notempty:')
			    .relatedTo(category)
			    .all() %}
         	{% set relatedEntries = category.programEntry.all() %}
	            {% for rel in relatedEntries %}

         
		<div class="w-full flex justify-center">
			<div>
				<a href="{{ rel.url }}" class="text-center text-xl bg-blue-700 hover:bg-red uppercase text-white font-bold py-4 px-8 rounded"> 
		    		Read more about the program
	    	 	</a> 
	    	 </div>
    	</div>
     
          {% endfor %}
 



    </div>

<div class="bg-gray-200"> <!--container -->


		{% for tag in craft.tags | reverse %}
		  {% set entries = craft.entries({
		        relatedTo: [
		          'and',
		          { targetElement: category },
		          { targetElement: tag },
		          ],
		          limit: (null),
		      }) 
		    %}


		  {% if entries is not empty %}
		    <div class="bg-blue-700 my-8 text-center py-4">
		      <h3 class="text-white text-base uppercase tracking-wider">
		      	{{ tag.slug }} {{ category.title }}
		      </h3>
		    </div>             
		  {% endif %}
		  <div class="flex flex-wrap justify-center px-16" id="entries">
		    {% set entries = craft.entries({
		      relatedTo: {
		        targetElement: ['and', category, tag],
		      }}
		        ).all() %}
		    {% for entry in entries %}
		    {% include 'fellows/_entryblock.twig' %} 
		    {% endfor %} 
		  </div>
		{% endfor %}

</div><!-- end container -->
 

{% endblock %}
