{# ===== mulagofoundation.org :: past-fellows/index ===== #}

{% set category = craft.categories({
  group: 'conservationFellowsPast',
  slug: craft.request.lastSegment
}) %}

{% extends "_layout" %}

{% set title = ('Conservation Fellows Past') %}

{% block content %}
   
     <nav class="sub-nav hide-mobile">

        <ul class="scroll-to">

          {% nav category in craft.categories.group('conservationFellowsPast') %}
              <li>
                  <a href="{{ category.url }}"><h5 class="text-uppercase p22-demi">{{ category.title }}</h5></a>
              </li>
          {% endnav %}

        </ul>

    </nav>
    

{% cache %}   
<!-- Main content -->
<div class="main-content">
   
    <div class="ideas-panel-1 m-ltgray" data-scroll-index="0">

     <nav class="sub-nav-mobile-scroll-about fellows show hide">

          {% nav category in craft.categories.group('conservationFellowsPast') %}

                  <a class="scroll-down m-ltltgray" href="{{ category.url }}">
                    <h5 class="sub-nav-mobile-scroll-about p22-demi">{{ category.title }}</h5></a>

          {% endnav %}

    </nav>

      <div class="container">
       <div class="row">
        <h1 class="text-uppercase">PAST CONSERVATION FELLOWS</h1>
        </div>
      </div>
    </div>

    <div class="container ideas"> 
      <div class="row row-home ">
      
      <div class="past-date"><h4 class="p22-ltp text-center clearfix">{{ category.title }}</h4></div> 

        {% set allCategories = craft.categories.group('fellowsPast').find() %}

        {% set entries = craft.entries({
          section: 'fellows',
          type: 'fellowsPast',
          relatedTo: category,
          order: 'title asc'
        }) %}

    {% if entries | length %}
      {% for entry in entries %}
        {% for block in entry.fellowsEntry %}
          {% if block.type == 'entryContent' %}

            <div class="row">
              <div class="col-md-12"> <hr>
                <div class="side-ideas fellow-image col-xs-12 col-sm-4">
                  {% for image in block.fellowImage %}    
                   <img src="{{ image.getUrl('sq300x300') }}" alt="" class="fellow-past">
                  {% endfor %}

                  {% set relatedPortfolio = craft.entries.section('portfolio').relatedTo(entry).limit(1) %}
                  {% if relatedPortfolio | length %} 
                    {% for entry in relatedPortfolio %}
                     <a href="{{ entry.url }}">
                             <h3 class="text-center a-m-blue">Mulago Portfolio</h3>
                         </a>

                    {% endfor %}
                  {% endif %}

                   <hr>
                   <a href="http://{{ block.webLink }}" target="_blank" >
                       <h4 class="p22-demi text-center a-m-blue">View Site</h4>
                   </a> 
                </div> 
                <div class="col-xs-12 col-sm-8 ideas-index fellow-copy">

                   {% if entry.featureLink | length %}  
                    <a href="{{ entry.url }}"> <h2 class="a-m-blue">{{ entry.title }} :: {{ block.organization }}</h2></a> 
                  {% else %}
                    <h2 class="">{{ entry.title }} :: {{ block.organization }}</h2>
                  {% endif %}
                      
                        {{ block.archiveCopy }}

                  {% if entry.featureLink | length %} 
                    <a href="{{ entry.url }}" class="view"><img class="view" src="{{ siteUrl }}assets/arrow-next.png" alt=""></a>
                  {% endif %}
                  
                </div>
              </div>   
            </div> 

          {% endif %}
        {% endfor %} 
      {% endfor %}
    {% endif %}

    <hr>

{% set categories = craft.categories.group('conservationFellowsPast').limit(1).find() %}
  {% for entry in categories %}
        <div class="btn-past">
        <a href="{{ url('conservation-fellows/current') }}" class="past-fellows m-mdgray"><h4>VIEW CURRENT FELLOWS </h4></a>
        <a href="{{ url('conservation-fellows-program') }}" class="past-fellows m-mdgray"><h4>OUR FELLOWS PROGRAM</h4></a>
        </div>
  {% endfor %} 

</div>

</div>
{% endcache %}
{% endblock %}
