
{# ===== mulagofoundation.org :: resources/index ===== #}

{% extends "_layout" %}
  {% set title = ('Resources') %}
{% block content %}


{% set resourcesQ = craft.entries.section('resources') %}
{% set entries = resourcesQ.all() %}

{% set articles = resourcesQ.type('articles').all() %}
{% set videos = resourcesQ.type('videos').all() %}
{% set tools = resourcesQ.type('tools').all() %}


<div class="bg-gray-100">

{# articles #}
  
   <div class="text-center bg-blue-700 py-4 mb-4">
    <div class="text-white uppercase tracking-wider">
        <a href="/resources/articles/">
          <h2 class="text-xl">
            Articles 
          </h2>
        </a>
    </div>
  </div> 

<div class="p-12">
  <div class="flex justify-center articles">
    {% for entry in articles %}
      <div class="m-4">
        {% include "resources/partials/_article-block.twig" %} 
      </div>
    {% endfor %}
  </div>
</div>
{# 

<div class="flex justify-center">

  <div class="resources flex flex-wrap m-8">
    {% for entry in articles %}
      <div class="slider">
        {% include "resources/partials/_article-block.twig" %}
      </div>
    {% endfor %}
  </div>

</div> 

<div class="flex justify-center p-8">
    <a href="/resources/articles/" class="rounded text-white bg-blue-700 hover:bg-red px-4 py-2">
        See more »
    </a>
</div>
#}
{# -------------- #}


{# videos #}
  <div class="text-center bg-blue-700 py-4 mb-4">
    <div class="text-white uppercase tracking-wider">
        <a href="/resources/videos/">
          <h2 class="text-xl">
            Videos 
          </h2>
        </a>
    </div>
  </div>

<div class="p-12">
  <div class="videos flex justify-center">
    {% for entry in videos %}
      {% include "resources/partials/_video-block.twig" %}
    {% endfor %}
  </div>
</div>
{# 
<div class="flex justify-center p-8">
    <a href="/resources/videos/" class="rounded text-white bg-blue-700 hover:bg-red px-4 py-2">
        See more »
    </a>
</div> #}


{# -------------- #}


{# Tools #}

  
  <div class="text-center bg-blue-700 py-4 mb-4">
    <div class="text-white uppercase tracking-wider">
        <a href="/resources/tools/">
          <h2 class="text-xl">
            Tools 
          </h2>
        </a>
    </div>
  </div>
<div class="p-12">
  <div class="flex flex-wrap tools justify-center">
    {% for entry in tools %}
      <div class="m-4">
        {% include "resources/partials/_tool-block.twig" %} 
      </div>
    {% endfor %}
  </div>
</div>

{# <div class="flex justify-center p-8">
    <a href="/resources/tools/" class="rounded text-white bg-blue-700 hover:bg-red px-4 py-2">
        See more »
    </a>
</div> #}

{# -------------- #}
      

</div>

{% js %}
      $(document).ready(function(){
      $('.articles').slick({
        arrows: false,
        cssEase: 'linear',
        zIndex: 0,
        responsive: [
        {
          breakpoint: 7525,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 1525,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        }
  ]
      });
    });
{% endjs %}

{% js %}
      $(document).ready(function(){
      $('.videos').slick({
        arrows: false,
        cssEase: 'linear',
        zIndex: 0,
        responsive: [
        {
          breakpoint: 7525,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 1525,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        }
  ]
      });
    });
{% endjs %}

{% js %}
      $(document).ready(function(){
      $('.tools').slick({
        arrows: false,
        cssEase: 'linear',
        zIndex: 0,
        responsive: [
        {
          breakpoint: 7525,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 2,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 1525,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 2,
            infinite: true,
            dots: true,
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          }
        }
  ]
      });
    });
{% endjs %}

{% endblock %} 


