
{#  Not sure if this actually does anything. #}


{% extends "_layout" %}

{% block content %}
    {# Articles #}
{% set resourcesQ = craft.entries.section('resources') %}
{% set articles = resourcesQ.all() %}
{% set articles = resourcesQ.type('articles').relatedTo(category).all() %}

    {# Articles #}
<div class="bg-gray-200">

      <div class="flex flex-wrap justify-between">
        {# subnav #}
        <div>
          {% include "resources/partials/_breadcrumb.twig" %}
        </div>
        <div>
          {% include 'resources/partials/_subnav.twig' %}
        </div>

        <div class="flex justify-center flex-wrap">
          
            {% for entry in articles %}
              {% if entry.type == 'articles' %}
                <a href="{{ entry.url }}">
                  {% include "resources/partials/_article-block.twig" %}
                </a>
              {% endif %}  
            {% endfor %}
        </div>

      </div> 
    </div> 


</div> 
{% endblock %}