
{# ===== mulagofoundation.org :: resources/resources-view ===== #}

{% extends "_layout" %}
  {% set title = entry.title %}
{% block content %}
{% cache %}

   
<!-- Main content -->
<div class="">
   
    <div class="" data-scroll-index="0">
      <div class="">
        <div class="">
          <h1 class="">{{ entry.title }}</h1>
        </div>
      </div>
    </div>

    <div class="">
        <div class="">

            <div class=""> 
              <hr>

              {% if entry.links | length %} 
                {% set category = entry.category.first() %}
                  {% if category %}
                  <h4 class="">Links to {{ category.title }}</h4>
                  {% endif %} 
                {% for row in entry.links %}
                <a href="{{ row.weblink | raw }}" target="_blank" >
                 <h4 class="">{{ row.nameOfLink }}</h4>
                </a>
                {% endfor %}
               <hr>
              {% endif %}

              {% if entry.download | length %}
                {% for pdf in entry.download %}
               <a href="{{ pdf.url }}" target="_blank" >
                   <h4 class="">Download document</h4>
                   <img src="{{ siteUrl }}assets/d-pdf.png" alt="" class="icon-download">
               </a>
                {% endfor %}
               <hr>
              {% endif %}

               <h5>SHARE</h5>
                    <div class="">

                      {% include "partials/_share" %}

                    </div>
            </div>
                  
            <div class="">
              <div class=""> <hr>
                   <h4 class="">&nbsp;{# Author: {{ entry.ideasAuthor }} #}</h4>
                 <h4 class="">&nbsp; {{ entry.postDate|date("F d, Y") }}</h4>
                  
              {% for matrixBlock in entry.ideasPost %}
                {% switch matrixBlock.type %}
                     
                 {% case "ideasCopy" %}

                    {{ matrixBlock.copy }}

                 {% case "ideasImage" %}

                  {% for image in matrixBlock.image %}

                    <img class="" src="{{ image.getUrl('ideas900x600') }}" alt="">
                  {% endfor %}

                 {% case "videoBlock" %}
                  <h3>{{ matrixBlock.videoTitle }}</h3>
                 <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item ideas" src="{{ matrixBlock.video | raw }}" frameborder="0" allowfullscreen></iframe>
                 </div>
              
                {% endswitch %}


              {% endfor %}
              </div>
            </div>

      </div>
    
       <div class=""> <hr>
	       <div class="">
	     {% set category = entry.category.first() %}
        {% if category %}

          <a class="" href="{{ url('resources') }}/{{ category.slug }}"><img class="" src="{{ siteUrl }}assets/arrow-back.png" alt="" /></a><h5 class="">Resources / {{ category.title }}</h5>
        {% endif %}

             {% set params = {
                   section: 'resrouces',
               } %}  
   
               {% set prevposts = entry.getPrev(params) %}
               {% set nextposts = entry.getNext(params) %}
   
               {% if prevposts %}
                 <a class="" href="{{ prevposts.url }}"><img class="arrow" src="{{ siteUrl }}assets/arrow-back.png" alt="" /></a>
               {% endif %}

               {% if nextposts %}
                 <a class="" href="{{ nextposts.url }}"><img class="arrow" src="{{ siteUrl }}assets/arrow-next.png" alt="" /></a>
               {% endif %}

               {% set allPosts = craft.entries.section('resources').ids() %}

               {% for post in allPosts %}
                 {% if entry.id == post %}
                   <h5 class="">No. {{ loop.index }} of {{ loop.length }}</h5>
                 {% endif %}
               {% endfor %}
	       </div>
       </div>  

  </div> 
{% endcache %}
{% endblock %}
