
{# ===== localhost :: thanks template ===== #}

{% extends "_layout" %}
{% set title = "Thanks" %}

{% block content %}
	
   
<!-- Main content -->
<div class="">
	
	{% set imageQuery = entry.image.all() %}
	{% for image in imageQuery %}
		
		<div class="bg-cover">
			<img src="{{ image.getUrl('view2100x610') }}" alt="">
		</div>	
		
	{% endfor %}

	<div class="p-12">
		<h1 class="text-4xl text-center text-gray-800 text-uppercase">{{ entry.headerMessage }}</h1>
	</div>

	<h2 class="text-center mb-20">{{ entry.messageCopy}}</h2>

</div>

{% endblock %}