{# ===== mulagofoundation.org :: conservation-fellows/index ===== #}

{% extends "_layout" %}

{% set title = 'Conseration Fellows' %}

{% set category = craft.categories({
  group: 'conservationFellowsCurrent',
  slug: craft.request.lastSegment
}) %}

{% set entries = craft.entries({
  section: 'fellows',
  type: 'fellowsCurrent',
  relatedTo: category,
  order: 'title asc'
}) %}

{% set categories = craft.categories({
  group: 'conservationFellowsPast',
  limit: 1})
  .find()
%}

{% block content %}

  {% cache %}
    
      
    <!-- Main content -->
    <div class="main-content">

        <div class="ideas-panel-1 m-ltgray" data-scroll-index="0">
          <div class="container">
           <div class="row">
            <h1 class="text-uppercase">CURRENT CONSERVATION FELLOWS</h1>
            </div>
          </div>
        </div>
        
        <div class="section m-ltltgray">
           <div class="p-cat m-mdltgray clearfix" data-scroll-index="2">
               <h3>{{ category.slug }} :: Conservation Fellows</h3>
           </div>
           
           {% for cat in categories %}
             <div class="btn-past" style="height:auto;">
               {# <a href="{{ url('conservation-fellows-past') }}/{{ cat.title|lower }}" class="past-fellows m-mdgray"><h4>VIEW PAST CONSERVATION FELLOWS</h4></a> #}
               <a href="{{ url('conservation-fellows-program') }}" class="past-fellows m-mdgray"><h4>OUR FELLOWS PROGRAM</h4></a>
             </div>
           {% endfor %}
           
      <div class="container-p clearfix">
        {% if entries | length %}
          {% for entry in entries %}
            {% for matrixBlock in entry.fellowsEntry %}
              {% if matrixBlock.type == 'entryContent' %}
                <a href="{{ entry.url }}" class="portfolio-view bio">
                  <div class="portfolio-index inner bio m-white col-md-12">
                      {% for image in matrixBlock.fellowImage %} 
                      <img src="{{ image.getUrl('sq300x300') }}" alt="" class="image-portfolio">
                      {% endfor %} 
                      <h3 class="name text-center p22-ltp">{{ entry.title }}</h3>
                      <hr>
                      <h3 class="org text-center p22-ltp">{{ matrixBlock.organization }}</h3>
                  </div></a>
              {% endif %}
            {% endfor %} 
          {% endfor %}   
        {% endif %}
      </div>
      
      {# {% for cat in categories %}
        <div class="btn-past">
          <a href="{{ url('conservation-fellows-past') }}/{{ cat.title|lower }}" class="past-fellows m-mdgray"><h4>VIEW PAST CONSERVATION FELLOWS</h4></a>
          <a href="{{ url('conservation-fellows-program') }}" class="past-fellows m-mdgray"><h4>OUR FELLOWS PROGRAM</h4></a>
        </div>
      {% endfor %} #}
      
    </div>
  
  {% endcache %}
  
{% endblock %}
