{% extends "_layout" %}

{% block content %}


{% set resourcesQ = craft.entries.section('resources') %}
{% set entries = resourcesQ.all() %}

{% set articles = resourcesQ.type('articles').all() %}

<div class="flex justify-center articles">
  {% for entry in articles %}
    <div class=" m-4">
      {% include "resources/partials/_article-block.twig" %} 
    </div>
  {% endfor %}
</div>

  
{% js %}
      $(document).ready(function(){
      $('.articles').slick({
        arrows: true,
        responsive: [
        {
          breakpoint: 1525,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 3,
            infinite: true,
            dots: true,
            arrows: true
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: true
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
  ]
      });
    });
{% endjs %}
{% endblock %}